<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hi.pizza.world.board.BoardDao">

<resultMap type="BoardVo" id="boardMap">
	<id property="bbsId" column="BBS_ID" />
	<result property="bbsUser" column="BBS_USER"/>
	<result property="bbsTitle" column="BBS_TITLE"/>
	<result property="bbsText" column="BBS_TEXT"/>
	<result property="bbsDate" column="BBS_Date"/>
</resultMap>

	<select id="selectBoardList" resultType="BoardVo">
		SELECT BBS_ID,BBS_USER,BBS_TITLE,BBS_DATE 
		FROM BBS
		order by BBS_ID DESC
	</select>
	<select id="selectBoard" resultType="BoardVo">
		SELECT BBS_ID,BBS_USER,BBS_TITLE,BBS_TEXT,BBS_DATE
		FROM BBS
		WHERE BBS_ID = #{bbsId}
	</select>
	<insert id="insertBoard" parameterType="BoardVo">
	<selectKey keyProperty="bbsId" resultType="int" order="BEFORE">
  		select BBS_ID.nextVal from dual
  	</selectKey>
		INSERT INTO BBS
		(BBS_ID,BBS_TITLE,BBS_TEXT,BBS_USER)
		VALUES(#{bbsId},#{bbsTitle},#{bbsText},#{bbsUser})
	</insert>
	<update id="updateBoard" parameterType="BoardVo">
		UPDATE BBS
		SET BBS_TITLE = #{bbsTitle}, BBS_TEXT = #{bbsText}
		WHERE BBS_ID = #{bbsId}
	</update>
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BBS WHERE BBS_ID = #{bbsId} 
	</delete>



</mapper>

